In [1]:
import pandas as pd

# Agbarometer202509

In [ ]:
df = pd.read_excel('../data/raw_data/Agbarometer202509.xlsx')
print(df.head())

    Bimestre  CondicIones presentes  Expectativas futuras  Ag Barometer
0 2018-10-01                     53                   132           100
1 2018-11-01                     43                   130            95
2 2019-01-01                     59                   137           106
3 2019-03-01                     69                   126           103
4 2019-05-01                     82                   141           117

El primer dato hay que eliminarlo porque no corresponde a la secuencia de bimetre (sabido de antemano)

In [ ]:
df.drop(0, inplace=True)

In [ ]:
df.to_csv('../data/clean_data/agbarometer_cleaned.csv', index=False)

# AgEconomyBarometer202510

In [18]:
df = pd.read_excel('../data/raw_data/AgEconomyBarometer202510.xlsx')
print(df.head())

  Month/Year  Unnamed: 1  Purdue/CME Ag Economy Barometer  \
0    October        2015                              116
1   November        2015                               97
2   December        2015                              107
3    January        2016                               98
4   February        2016                               96

   Index of Current Conditions  Index of Future Expectations  \
0                          118                           116
1                           98                            97
2                          125                            98
3                           99                            98
4                           82                           102

   Farm Capital Investment Index
0                             67
1                             51
2                             75
3                             52
4                             56

In [20]:
df.rename(columns={'Month/Year': 'Month','Unnamed: 1': 'Year'}, inplace=True)

In [ ]:
df.to_csv('../data/clean_data/AgEconomyBarometer_cleaned.csv', index=False)

# ICG UTDT

In [2]:
df1 = pd.read_excel('../data/raw_data/ICG UTDT.xls', sheet_name='Evolución ICG 2001-2022')
print(df1.head())

df2 = pd.read_excel('../data/raw_data/ICG UTDT.xls', sheet_name='Evolución ICG a partir de 2023')
print(df2.head())

      Unnamed: 0  2001-11-01 00:00:00  2001-12-01 00:00:00  \
0           ICG                 1.036             0.757000
1  Variación ICG                  NaN            -0.269305

   2002-01-01 00:00:00  2002-02-01 00:00:00  2002-03-01 00:00:00  \
0             1.357000             0.983000             0.862000
1             0.792602            -0.275608            -0.123093

   2002-04-01 00:00:00  2002-05-01 00:00:00  2002-06-01 00:00:00  \
0             0.782000             0.467000              0.48200
1            -0.092807            -0.402813              0.03212

   2002-07-01 00:00:00  ...  2022-03-01 00:00:00  2022-04-01 00:00:00  \
0             0.404000  ...             1.507731             1.436073
1            -0.161826  ...             0.009000            -0.048000

   2022-05-01 00:00:00  2022-06-01 00:00:00  2022-07-01 00:00:00  \
0             1.303236             1.401616             1.116667
1            -0.093000             0.075000            -0.203000

   2022-08-01 00:00:00  2022-09-01 00:00:00  2022-10-01 00:00:00  \
0             1.182577             1.230554             1.281745
1             0.059000             0.041000             0.042000

   2022-11-01 00:00:00  2022-12-01 00:00:00
0             1.189553             1.251266
1            -0.072000             0.052000

[2 rows x 255 columns]
      Unnamed: 0  2023-01-01 00:00:00  2023-02-01 00:00:00  \
0           ICG              1.274121              1.17133
1  Variación ICG             0.018000             -0.08100

   2023-03-01 00:00:00  2023-04-01 00:00:00  2023-05-01 00:00:00  \
0             1.177622             1.070521             1.132271
1             0.005000            -0.091000             0.058000

   2023-06-01 00:00:00  2023-07-01 00:00:00  2023-08-01 00:00:00  \
0             1.119684                1.199                1.266
1            -0.011000                0.071                0.056

   2023-09-01 00:00:00  ...  2025-01-01 00:00:00  2025-02-01 00:00:00  \
0             1.032259  ...             2.605000             2.558000
1            -0.185000  ...            -0.018832            -0.018042

   2025-03-01 00:00:00  2025-04-01 00:00:00  2025-05-01 00:00:00  \
0             2.420000             2.331000             2.448000
1            -0.053948            -0.036777             0.050193

   2025-06-01 00:00:00  2025-07-01 00:00:00  2025-08-01 00:00:00  \
0             2.336000             2.451000             2.118000
1            -0.045752             0.049229            -0.135863

   2025-09-01 00:00:00  2025-10-01 00:00:00
0             1.943966             2.101128
1            -0.082169             0.081000

[2 rows x 35 columns]

In [8]:
df2

,Unnamed: 0,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00,2023-07-01 00:00:00,2023-08-01 00:00:00,2023-09-01 00:00:00,...,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,2025-07-01 00:00:00,2025-08-01 00:00:00,2025-09-01 00:00:00,2025-10-01 00:00:00
0,ICG,1.274121,1.17133,1.177622,1.070521,1.132271,1.119684,1.199,1.266,1.032259,...,2.605000,2.558000,2.420000,2.331000,2.448000,2.336000,2.451000,2.118000,1.943966,2.101128
1,Variación ICG,0.018000,-0.08100,0.005000,-0.091000,0.058000,-0.011000,0.071,0.056,-0.185000,...,-0.018832,-0.018042,-0.053948,-0.036777,0.050193,-0.045752,0.049229,-0.135863,-0.082169,0.081000

In [4]:
# convertir df1 a formato long
df1_long = df1.melt(id_vars='Unnamed: 0', var_name='date', value_name='value')
df1_long.rename(columns={'Unnamed: 0': 'indicator'}, inplace=True)

df1_long['date'] = pd.to_datetime(df1_long['date'], errors='coerce')
df1_long = df1_long.sort_values(['indicator', 'date']).reset_index(drop=True)

# convertir df2 a formato long
df2_long = df2.melt(id_vars='Unnamed: 0', var_name='date', value_name='value')
df2_long.rename(columns={'Unnamed: 0': 'indicator'}, inplace=True)

df2_long['date'] = pd.to_datetime(df2_long['date'], errors='coerce')
df2_long = df2_long.sort_values(['indicator', 'date']).reset_index(drop=True)

In [10]:
df1_long

         indicator       date  value
0             ICG  2001-11-01  1.036
1             ICG  2001-12-01  0.757
2             ICG  2002-01-01  1.357
3             ICG  2002-02-01  0.983
4             ICG  2002-03-01  0.862
..             ...        ...    ...
503  Variación ICG 2022-08-01  0.059
504  Variación ICG 2022-09-01  0.041
505  Variación ICG 2022-10-01  0.042
506  Variación ICG 2022-11-01 -0.072
507  Variación ICG 2022-12-01  0.052

[508 rows x 3 columns]

In [34]:
df_final = pd.concat([df1_long, df2_long], ignore_index=True)

In [35]:
df_final = df_final[df_final['indicator'] == 'ICG ']

In [36]:
df_final.replace({'indicator': {'ICG ': 'ICG'}}, inplace=True)

In [37]:
df_final.reset_index(drop=True, inplace=True)

In [40]:
df_final.to_csv('../data/clean_data/ICG_cleaned.csv', index=False)

# Dolar MEP

In [21]:
df = pd.read_csv('../data/raw_data/dolar_mep.csv')
print(df.head())

     especie  ultimo  variacion  anterior  apertura  minimo  maximo  varMTD  \
0  DOLAR MEP   36.97        NaN       NaN     36.97   36.97   36.97     NaN
1  DOLAR MEP   36.63        0.0     36.63     36.63   36.63   36.63     NaN
2  DOLAR MEP   35.93        0.0     35.93     35.93   35.93   35.93     NaN
3  DOLAR MEP   35.89        0.0     35.89     35.89   35.89   35.89     NaN
4  DOLAR MEP   35.66        0.0     35.66     35.66   35.66   35.66     NaN

   varYTD  var6M  var12M       fecha   hora  cierre   timestamp  volumen
0     NaN    NaN     NaN  2018-10-29    NaN   36.97  1540782000        0
1     NaN    NaN     NaN  2018-10-30  19:59   36.63  1540868400        0
2     NaN    NaN     NaN  2018-10-31  19:59   35.93  1540954800        0
3     NaN    NaN     NaN  2018-11-01  19:59   35.89  1541041200        0
4     NaN    NaN     NaN  2018-11-02  19:59   35.66  1541127600        0

In [22]:
if 'especie' in df.columns:
    df.drop(columns='especie', inplace=True)

if 'timestamp' in df.columns:
    df.drop(columns='timestamp', inplace=True)

if 'hora' in df.columns:
    df.drop(columns='hora', inplace=True)

df.head()

,ultimo,variacion,anterior,apertura,minimo,maximo,varMTD,varYTD,var6M,var12M,fecha,cierre,volumen
0,36.97,NaN,NaN,36.97,36.97,36.97,NaN,NaN,NaN,NaN,2018-10-29,36.97,0
1,36.63,0.0,36.63,36.63,36.63,36.63,NaN,NaN,NaN,NaN,2018-10-30,36.63,0
2,35.93,0.0,35.93,35.93,35.93,35.93,NaN,NaN,NaN,NaN,2018-10-31,35.93,0
3,35.89,0.0,35.89,35.89,35.89,35.89,NaN,NaN,NaN,NaN,2018-11-01,35.89,0
4,35.66,0.0,35.66,35.66,35.66,35.66,NaN,NaN,NaN,NaN,2018-11-02,35.66,0

In [23]:
print(df['varMTD'].value_counts())
print(df['varYTD'].value_counts())
print(df['var6M'].value_counts())
print(df['var12M'].value_counts())
print(df['volumen'].value_counts())

Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
volumen
0    1992
Name: count, dtype: int64

In [26]:
if 'varMTD' in df.columns:
    df.drop(columns='varMTD', inplace=True)

if 'varYTD' in df.columns:
    df.drop(columns='varYTD', inplace=True)

if 'var6M' in df.columns:
    df.drop(columns='var6M', inplace=True)

if 'var12M' in df.columns:
    df.drop(columns='var12M', inplace=True)

if 'volumen' in df.columns:
    df.drop(columns='volumen', inplace=True)

df.head()

   ultimo  variacion  anterior  apertura  minimo  maximo       fecha  cierre
0   36.97        NaN       NaN     36.97   36.97   36.97  2018-10-29   36.97
1   36.63        0.0     36.63     36.63   36.63   36.63  2018-10-30   36.63
2   35.93        0.0     35.93     35.93   35.93   35.93  2018-10-31   35.93
3   35.89        0.0     35.89     35.89   35.89   35.89  2018-11-01   35.89
4   35.66        0.0     35.66     35.66   35.66   35.66  2018-11-02   35.66

In [18]:
df.to_csv('../data/clean_data/dolar_mep_cleaned.csv', index=False)

# Dolar Oficial

In [29]:
df = pd.read_excel('../data/raw_data/dolar_oficial.xlsx')
print(df.head())

       Fecha  Valor
0 2018-01-02  18.55
1 2018-01-03  18.42
2 2018-01-04  18.61
3 2018-01-05  18.86
4 2018-01-08  19.07

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1917 entries, 0 to 1916
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   1917 non-null   datetime64[ns]
 1   Valor   1917 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 30.1 KB

In [31]:
df.to_csv('../data/clean_data/dolar_oficial_cleaned.csv', index=False)

# REM

In [32]:
df = pd.read_excel('../data/raw_data/rem.xlsx')
print(df.head())

       Fecha  Valor
0 2018-01-31   18.6
1 2018-02-28   17.6
2 2018-03-31   17.8
3 2018-04-30   18.2
4 2018-05-31   22.2

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   94 non-null     datetime64[ns]
 1   Valor   94 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.6 KB

In [34]:
df.to_csv('../data/clean_data/rem_cleaned.csv', index=False)

# Soja Chicago

In [35]:
df = pd.read_csv('../data/raw_data/precio_soja_chicago.csv')
print(df.head())

        Price   Close   High     Low    Open Volume
0      Ticker    ZS=F   ZS=F    ZS=F    ZS=F   ZS=F
1        Date     NaN    NaN     NaN     NaN    NaN
2  2018-01-02   955.0  960.0   949.5   956.5   2900
3  2018-01-03  959.75  960.5   955.0  956.25   2582
4  2018-01-04  959.25  960.0  950.25  959.25   2133

In [38]:
df = df.drop([0, 1], axis=0).reset_index(drop=True)

In [40]:
print(df.head())

        Price   Close    High     Low    Open Volume
0  2018-01-02   955.0   960.0   949.5   956.5   2900
1  2018-01-03  959.75   960.5   955.0  956.25   2582
2  2018-01-04  959.25   960.0  950.25  959.25   2133
3  2018-01-05   961.5   966.5   960.0   960.0   1278
4  2018-01-08  958.25  962.25   951.5  960.75    988

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   1986 non-null   object
 1   Close   1986 non-null   object
 2   High    1986 non-null   object
 3   Low     1986 non-null   object
 4   Open    1986 non-null   object
 5   Volume  1986 non-null   object
dtypes: object(6)
memory usage: 93.2+ KB

In [42]:
df.rename(columns={'Price': 'date'}, inplace=True)

In [45]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['Close'] = pd.to_numeric(df['Close'], errors='coerce')
df['High'] = pd.to_numeric(df['High'], errors='coerce')
df['Low'] = pd.to_numeric(df['Low'], errors='coerce')
df['Open'] = pd.to_numeric(df['Open'], errors='coerce')
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1986 non-null   datetime64[ns]
 1   Close   1986 non-null   float64
 2   High    1986 non-null   float64
 3   Low     1986 non-null   float64
 4   Open    1986 non-null   float64
 5   Volume  1986 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 93.2 KB

In [47]:
df.to_csv('../data/clean_data/precio_soja_chicago_cleaned.csv', index=False)