In [1]:
import pandas as pd

# Agbarometer202509

In [11]:
df = pd.read_excel('../data/raw_data/Agbarometer202509.xlsx')
print(df.head())

    Bimestre  CondicIones presentes  Expectativas futuras  Ag Barometer
0 2018-10-01                     53                   132           100
1 2018-11-01                     43                   130            95
2 2019-01-01                     59                   137           106
3 2019-03-01                     69                   126           103
4 2019-05-01                     82                   141           117

El primer dato hay que eliminarlo porque no corresponde a la secuencia de bimetre (sabido de antemano)

In [15]:
df.drop(0, inplace=True)

In [17]:
df.to_csv('../data/clean_data/agbarometer_cleaned.csv', index=False)

# AgEconomyBarometer202510

In [18]:
df = pd.read_excel('../data/raw_data/AgEconomyBarometer202510.xlsx')
print(df.head())

  Month/Year  Unnamed: 1  Purdue/CME Ag Economy Barometer  \
0    October        2015                              116
1   November        2015                               97
2   December        2015                              107
3    January        2016                               98
4   February        2016                               96

   Index of Current Conditions  Index of Future Expectations  \
0                          118                           116
1                           98                            97
2                          125                            98
3                           99                            98
4                           82                           102

   Farm Capital Investment Index
0                             67
1                             51
2                             75
3                             52
4                             56

In [20]:
df.rename(columns={'Month/Year': 'Month','Unnamed: 1': 'Year'}, inplace=True)

In [ ]:
df.to_csv('../data/clean_data/AgEconomyBarometer_cleaned.csv', index=False)

# ICG UTDT

In [2]:
df1 = pd.read_excel('../data/raw_data/ICG UTDT.xls', sheet_name='Evolución ICG 2001-2022')
print(df1.head())

df2 = pd.read_excel('../data/raw_data/ICG UTDT.xls', sheet_name='Evolución ICG a partir de 2023')
print(df2.head())

      Unnamed: 0  2001-11-01 00:00:00  2001-12-01 00:00:00  \
0           ICG                 1.036             0.757000
1  Variación ICG                  NaN            -0.269305

   2002-01-01 00:00:00  2002-02-01 00:00:00  2002-03-01 00:00:00  \
0             1.357000             0.983000             0.862000
1             0.792602            -0.275608            -0.123093

   2002-04-01 00:00:00  2002-05-01 00:00:00  2002-06-01 00:00:00  \
0             0.782000             0.467000              0.48200
1            -0.092807            -0.402813              0.03212

   2002-07-01 00:00:00  ...  2022-03-01 00:00:00  2022-04-01 00:00:00  \
0             0.404000  ...             1.507731             1.436073
1            -0.161826  ...             0.009000            -0.048000

   2022-05-01 00:00:00  2022-06-01 00:00:00  2022-07-01 00:00:00  \
0             1.303236             1.401616             1.116667
1            -0.093000             0.075000            -0.203000

   2022-08-01 00:00:00  2022-09-01 00:00:00  2022-10-01 00:00:00  \
0             1.182577             1.230554             1.281745
1             0.059000             0.041000             0.042000

   2022-11-01 00:00:00  2022-12-01 00:00:00
0             1.189553             1.251266
1            -0.072000             0.052000

[2 rows x 255 columns]
      Unnamed: 0  2023-01-01 00:00:00  2023-02-01 00:00:00  \
0           ICG              1.274121              1.17133
1  Variación ICG             0.018000             -0.08100

   2023-03-01 00:00:00  2023-04-01 00:00:00  2023-05-01 00:00:00  \
0             1.177622             1.070521             1.132271
1             0.005000            -0.091000             0.058000

   2023-06-01 00:00:00  2023-07-01 00:00:00  2023-08-01 00:00:00  \
0             1.119684                1.199                1.266
1            -0.011000                0.071                0.056

   2023-09-01 00:00:00  ...  2025-01-01 00:00:00  2025-02-01 00:00:00  \
0             1.032259  ...             2.605000             2.558000
1            -0.185000  ...            -0.018832            -0.018042

   2025-03-01 00:00:00  2025-04-01 00:00:00  2025-05-01 00:00:00  \
0             2.420000             2.331000             2.448000
1            -0.053948            -0.036777             0.050193

   2025-06-01 00:00:00  2025-07-01 00:00:00  2025-08-01 00:00:00  \
0             2.336000             2.451000             2.118000
1            -0.045752             0.049229            -0.135863

   2025-09-01 00:00:00  2025-10-01 00:00:00
0             1.943966             2.101128
1            -0.082169             0.081000

[2 rows x 35 columns]

In [8]:
df2

,Unnamed: 0,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00,2023-07-01 00:00:00,2023-08-01 00:00:00,2023-09-01 00:00:00,...,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,2025-07-01 00:00:00,2025-08-01 00:00:00,2025-09-01 00:00:00,2025-10-01 00:00:00
0,ICG,1.274121,1.17133,1.177622,1.070521,1.132271,1.119684,1.199,1.266,1.032259,...,2.605000,2.558000,2.420000,2.331000,2.448000,2.336000,2.451000,2.118000,1.943966,2.101128
1,Variación ICG,0.018000,-0.08100,0.005000,-0.091000,0.058000,-0.011000,0.071,0.056,-0.185000,...,-0.018832,-0.018042,-0.053948,-0.036777,0.050193,-0.045752,0.049229,-0.135863,-0.082169,0.081000

In [4]:
# convertir df1 a formato long
df1_long = df1.melt(id_vars='Unnamed: 0', var_name='date', value_name='value')
df1_long.rename(columns={'Unnamed: 0': 'indicator'}, inplace=True)

df1_long['date'] = pd.to_datetime(df1_long['date'], errors='coerce')
df1_long = df1_long.sort_values(['indicator', 'date']).reset_index(drop=True)

# convertir df2 a formato long
df2_long = df2.melt(id_vars='Unnamed: 0', var_name='date', value_name='value')
df2_long.rename(columns={'Unnamed: 0': 'indicator'}, inplace=True)

df2_long['date'] = pd.to_datetime(df2_long['date'], errors='coerce')
df2_long = df2_long.sort_values(['indicator', 'date']).reset_index(drop=True)

In [10]:
df1_long

         indicator       date  value
0             ICG  2001-11-01  1.036
1             ICG  2001-12-01  0.757
2             ICG  2002-01-01  1.357
3             ICG  2002-02-01  0.983
4             ICG  2002-03-01  0.862
..             ...        ...    ...
503  Variación ICG 2022-08-01  0.059
504  Variación ICG 2022-09-01  0.041
505  Variación ICG 2022-10-01  0.042
506  Variación ICG 2022-11-01 -0.072
507  Variación ICG 2022-12-01  0.052

[508 rows x 3 columns]

In [34]:
df_final = pd.concat([df1_long, df2_long], ignore_index=True)

In [35]:
df_final = df_final[df_final['indicator'] == 'ICG ']

In [36]:
df_final.replace({'indicator': {'ICG ': 'ICG'}}, inplace=True)

In [37]:
df_final.reset_index(drop=True, inplace=True)

In [40]:
df_final.to_csv('../data/clean_data/ICG_cleaned.csv', index=False)